<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h6>Login</h6>
    <br />
    <form method="POST" action="/users/login">
      <input type="text" name="email" placeholder="email" />
      <input type="text" name="password" placeholder="password" />
      <button type="submit">OK</button>
    </form>
  </body>
</html>