<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h6>Register</h6>
    <br />
    <form method='POST' action="/users/register">
      <input type="text" name="username" placeholder="username" />
      <input type="text" name="password" placeholder="password" />
      <button type="submit">OK</button>
    </form>
  </body>
</html>